
 <h1>Two-way Binding Example</h1>


<!-- Text Input-->
<label>Enter your name</label>
<input type="text" [(ngModel)]="userName" placeholder="eg : senthil">

<p>Hello {{userName}}</p>


<!-- Checkbox -->
<label>CheckBox
    <input type="checkbox" [(ngModel)]="isSubscribed"> Subscribe
</label>
<p>status : {{isSubscribed? 'Subscribed ✅' : 'Not Subscribed ❌' }}</p>

<!-- Select Dropdown-->
 <label>Select your favorite color </label>
 <select [(ngModel)]="favoriteColor">
    <option value="Red">Red</option>
    <option value="Blue">Blue</option>
    <option value="Green">Green </option>
 </select>

 <p>Your favorite color is: {{ favoriteColor }}</p>   
<!--using ngIf-->

<p *ngIf="isSubscribed">Thank you for subscribing!</p>
 <!--using ngfor-->
 <ul>
    <li *ngFor="let color of colors">
        {{color}}
    </li>
 </ul>


 <!--using ngfor to get the index of array-->
 <h2>index of array</h2>
 <ul>
    <li *ngFor="let color of colors; let i =index">
        {{i+1}}{{color}}
    </li>
 </ul>

  <!--the first  and last element  of array-->
   <h2>first element of array</h2>
 <ul>
    <li *ngFor="let color of colors; let isFirst =first; let isLast=last">
        <strong *ngIf="isFirst">first :</strong>
        <strong *ngIf="isLast">last :</strong>
        {{color}}
    </li>
 </ul>

   <!--the first  and last element  of array-->
  <h2>Color by even odd using CSS</h2>
 <ul>
    <li *ngFor="let color of colors; let isEven = even; let isOdd = odd"
        [ngClass]="{'evenItems': isEven, 'oddItems': isOdd}"
        >
        {{color}}
    </li>
 </ul>

 <h3>data displaying using Service</h3>
 <ul>
    <li *ngFor="let emp of employees">
        {{emp.name}}
    </li>
 </ul>





 <h2>Event binding</h2>
 <B>Count : {{count}}</B>
   <button (click)="Decrement()">-</button>  
 <button (click)="Increment()">+</button>
