
 <h1>Two-way Binding Example</h1>


<!-- Text Input-->
<label>Enter your name</label>
<input type="text" [(ngModel)]="userName" placeholder="eg : senthil"> 

<p>Hello {{userName}}</p>


<!-- Checkbox -->
<label>CheckBox
    <input type="checkbox" [(ngModel)]="isSubscribed"> Subscribe
</label>
<p>status : {{isSubscribed? 'Subscribed ✅' : 'Not Subscribed ❌' }}</p>

<!-- Select Dropdown-->
 <label>Select your favorite color </label>
 <select [(ngModel)]="favoriteColor">
    <option value="Red">Red</option>
    <option value="Blue">Blue</option>
    <option value="Green">Green </option>
 </select>

 <p>Your favorite color is: {{ favoriteColor }}</p>   
<!--using ngIf-->

<p *ngIf="isSubscribed">Thank you for subscribing!</p>
 <!--using ngfor-->
 <ul>
    <li *ngFor="let color of colors">
        {{color}}
    </li>
 </ul>

<h3>Image</h3>
<img [src]="imageUrl">

 <!--using ngfor to get the index of array-->
 <h2>index of array</h2>
 <ul>
    <li *ngFor="let color of colors; let i =index">
        {{i+1}}{{color}}
    </li>
 </ul>

  <!--the first  and last element  of array-->
   <h2>first element of array</h2>
 <ul>
    <li *ngFor="let color of colors; let isFirst =first; let isLast=last">
        <strong *ngIf="isFirst">first :</strong>
        <strong *ngIf="isLast">last :</strong>
        {{color}}
    </li>
 </ul>

   <!--the first  and last element  of array-->
  <h2>Color by even odd using CSS</h2>
 <ul>
    <li *ngFor="let color of colors; let isEven = even; let isOdd = odd"
        [ngClass]="{'evenItems': isEven, 'oddItems': isOdd}"
        >
        {{color}}
    </li>
 </ul>

 <h3>data displaying using Service</h3>
 <ul>
    <li *ngFor="let emp of employees">
        {{emp.name}}
    </li>
 </ul>

 <div [ngSwitch]="status">
    <p *ngSwitchCase="'loadings'">Loading...</p>
     <p *ngSwitchCase="'loading'">Data Loaded</p>
 </div>






 <h2>Event binding</h2>
 <B>Count : {{count}}</B>
   <button (click)="Decrement()">-</button>  
 <button (click)="Increment()">+</button>


 <h3>Attribute Directives</h3>
 <!-- ngclass -->

 <div [ngClass]="isActive?'active':'inactive'">  Status Box
 </div>

  <button (click)="isActive=!isActive">Toggle Status
 </button>

 <!-- ngStyle -->
<p [ngStyle]="{'color':textColor, 'fontSize':fontSize}">
    Angular Attribute ngStyle Directive Example
</p>


<!-- Angular, Pipes -->
 <h3 style="color: blue;">Angular, Pipes</h3>
<p>{{small | uppercase}}</p>
<p>{{name | lowercase}}</p>
<p>{{today | date  }}</p>
<p>{{today | date:'short'}}</p>
<p>{{today | date:'fullDate'}}</p>
<p>{{today | date:'dd/MMM/yyyy'}}</p>

<p>{{price | currency}}</p>
<p>{{price | currency:'INR'}}</p>
<p>{{progress  | percent}}</p>