<div *ngIf="message" class="success-msg">
  {{message}}
</div>
<h3>Create Issue </h3>
<div>
    <label>Issue Type :</label>
    <input type="text" [(ngModel)]="IssueType" placeholder="eg:pandi issue">

    <br><br>
    <label>Issue Type :</label>
    <input type="text" [(ngModel)]="description" placeholder="eg:description">
    <br><br>

    <button (click)="createIssue()">Save</button> 
    <button (click)="UpdateById(recordId)">Update</button> 
</div>

<table border="2">
    <tr>
        <th>ID</th>
        <th>TypeName</th>
        <th>Description</th>
        <th>createdBy</th>
        <th>createdDate</th>
    </tr>
    <tr *ngFor="let type of types"
    
    [style.backgroundColor]="recordId===type.id ? '#d3f4ff' : ''">
        <td>{{type.id}}</td>
        <td>{{type.typeName}}</td>
        <td>{{type.description}}</td>
        <td>{{type.createdBy}}</td>
        <td>{{type.createdDtTime | date:'dd/MMM/yyyy'}}</td>
        <td>
            <button (click)="getById(type.id)">Select</button>
            <button (click)="DeleteIssueById(type.id)">Delete</button>
        </td>
    </tr>
</table>

